trigger:
- master

jobs:
- job: 'MacOS'
  pool:
    vmImage: 'xcode9-macos10.13'
  steps:
  - script: brew install ninja lcov
    displayName: Installing ninja build system
  - script: |
      mkdir build
      cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Coverage
      ninja -C build coverage && bash <(curl -s https://codecov.io/bash) -f build/coverage_out.info.cleaned
    displayName: Coverage
- job: 'Windows'
  pool:
    vmImage: 'vs2017-win2016'
  steps:
    - script: choco install ninja
      displayName: Installing ninja build system
    - script: |
        mkdir build
        cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug
        cmake --build build --config Debug --target unit_tests.x -- -j 6
        cd build && unit_tests.x.exe
      displayName: Testing
